<!-- <div  {{mail.completed}}> -->
<table calss="table">
    <thead>
        <th>userid</th>
        <th>id</th>
        <th>title</th>
        <th>completed</th>
    </thead>

    <tbody>
        <tr *ngFor="let mail of mails" [ngClass]="{'visited': mail.completed==true, 'unvisited': mail.completed ==false}">
            <input type="checkbox">
            <td>{{mail.userId}}</td>
            <td>{{mail.id}}</td>
            <td>{{mail.title}}</td>
            <td>{{mail.completed}}</td>
        </tr>
    </tbody>
</table>
<!-- </div> -->