<label>name:</label>
<input type="text"[(ngModel)]="name">

<br>
<label>price:</label>
<input type="number"[(ngModel)]="price">
<br>

<label>quantity</label>
<input type="number" [(ngModel)]="quantity">
<br> 
<button class="btn btn-primary"(click)="add()">add to cart</button>
<br><br>
<br>
<button (click)="pricelowtohight()">price low to hight </button>
<button (click)="pricehighttolow()">price highttolow </button>

<table class="=table table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>price{{totalamount}}</th>
            <th>quantity</th>
            <th>actions 
                <button (click)="clear()">clear cart</button>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index">
            <td>{{product.name | uppercase}}</td>
            <td 
                [ngStyle]="{'color':product.price>10000? 'red' : 'green' }"
                [ngClass]="{'bred':product.price>10000,'bgreen':product.price<10000 }"
            >
                {{product.price | price}}
            </td>
            <td>{{product.quantity}}</td>
            <td><button (click)="delete(i)">delete</button></td>
        </tr>
    </tbody>
</table>


