<form [formGroup]="userForm">

    <label>name</label>
    <input type="text" formControlName="name">
    <div class="error" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required'] " >Name is required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength'] " >minimum 3 chars requried</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength'] " >maximum 10 chars requried</p>
    </div>
    <br>
    <label>age</label>
    <input type="number" formControlName="age">
    <div class="error" *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p *ngIf="userForm.get('age')?.errors?.['required'] " >age is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min'] " >Age should be greater than 0</p>
        <p *ngIf="userForm.get('age')?.errors?.['max'] " >Age should be less than 100</p>
    </div>
    <br>
    <label>phone</label>
    <input type="number" formControlName="phone">
    <div class="error" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p *ngIf="userForm.get('phone')?.errors?.['required'] ">phone  is required</p>
        <p *ngIf="userForm.get('phone')?.errors?.['min'] ">phone  should contain min 10 number</p>
        <p *ngIf="userForm.get('phone')?.errors?.['max'] ">phone  should contain max 10 number</p>
    </div>

    

    <div formGroupName="address">
        <label>state</label>
        <input type="text" formControlName="state">
        <br>
         <label>pin</label>
        <input type="number" formControlName="pin">
         <div class="error" *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
        <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['required'] " >pin  is required</p>
        <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['min'] " >pin  should contain min 6 number</p>
        <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['max'] " >pin  should contain max 6 number</p>
    </div>

        <br>

    </div>
    <button (click)="add()">add card</button>
    <br>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <label>number</label>
                <input type="text" formControlName="number">
                <br>
                <label>expiry</label>
                <input type="month" formControlName="expiry">
                <br>
                <label>cvv</label>
                <input type="number" formControlName="cvv">
                <div class="error" *ngIf="cardsFormArray.controls[i]?.get('cvv')?.touched && cardsFormArray.controls[i]?.get('cvv')?.invalid ">
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['required']">cvv is required</p>
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['min']">cvv min 3 chars</p>
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['max']">cvv max 3 chars</p>
                    
                </div>
                <br>
                <button (click)="remove(i)">remove</button>


            </div>
        </div>
    </div>
    <label>payment type:</label>
    <label>UPI payment</label>
    <input type="radio" name="payment" value="upi" formControlName="paymentType">
    <label>Card payment</label>
    <input type="radio" name="payment" value="card"  formControlName="paymentType">
    <br>

    <div *ngIf="userForm.get('paymentType')?.value=='upi' ">
    <label>UPI id:</label>
    <input type="text" formControlName="upiId">
    </div>
    <br>


    <div *ngIf="userForm.get('paymentType')?.value=='card'">
    <label>Card No:</label>
    <input type="text" formControlName="cardNo">
    </div>

    



    <button (click)="submit()">submit</button>

</form>
