<div class="parent">
  <div class="c1">
    <h3>Dashboard</h3>
    <h3 routerLink="home">home</h3>
    <h3 routerLink="databinding">data binding</h3>
    <h3 routerLink="eventbinding">event binding</h3>
    <h3 routerLink="twowaybinding">two way binding</h3>
    <h3 routerLink="calculator">calculator</h3>
    <h3 routerLink="square">square</h3>
    <h3 routerLink="event registration">event registration</h3>
    <h3 routerLink="rectangle">rectangle</h3>
    <h3 routerLink="student registration">student registration</h3>
    <h3 >charts</h3>
    <h3 routerLink="components">components</h3>
    <h3 routerLink="cart">cart</h3>
    <h3 routerLink="gpay">gpay</h3>
    <h3 routerLink="vehicle">vehicle</h3>
    <h3 routerLink="account">account</h3>
    <h3 routerLink="cars">cars</h3>
    <h3 routerLink="item">item</h3>
    <h3 routerLink="post">post</h3>
    <h3 routerLink="create-user">create-user</h3>
    <h3 routerLink="create-vehicle">create-vehicle</h3>
    <h3 routerLink="mail">mail</h3>

    <h3 routerLink="employees">employees</h3>
    <button (click)="logout()" class="logout">logout</button>
  </div>
  <div class="c2">
    <router-outlet></router-outlet>
    
  </div>
</div>
