.parent{
    height: 100vh;
    width: 100wv;
    background-color: rgba(221, 22, 72, 0.61);
    display: FLEX;
    color: white;
    overflow: auto;
}
.c1{
    background-color: black;
    width: 30vw;
    height: 100vh;
    overflow: auto;
    
}
.c2{
    background-color:yellowgreen;
    width: 70vw;
    height: 100vh;
    overflow: auto;
    
}