
<label>select car</label>


<label>Companys:</label>
<input type="radio" name='car'  value="honda" [(ngModel)]="car">
<label>Honda,</label>
<input type="radio" name='car' value="bmw" [(ngModel)]="car">
<label>BMW,</label>
<input type="radio" name='car' value="audi"  [(ngModel)]="car">
<label>audi</label>
<br>
<img *ngIf="car=='honda'" src="/assets/honda.jpg" alt="">
<img *ngIf="car=='bmw'" src="/assets/bmw.jpg" alt="">
<img  *ngIf="car=='audi'" src="/assets/audi.jpg" alt="">

<marquee>{{message}}</marquee>


