<table class="table">
  <thead>
    <tr>
      <th>createdAt</th>
      <th>account_name</th>
      <th>available_balance</th>
      <th>currency</th>
      <th>user_image</th>
      <th>account_number</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let account of accounts ">
        <td>{{account.createdAt}}</td>
        <td>{{account.account_name}}</td>
        <td>{{account.available_balance}}</td>
        <td>{{account.currency}}</td>
        <td><img src="{{account.user_image}}"></td>
        <td> {{account.account_number}}</td>
        <td>{{account.id}}</td>
        </tr>
  </tbody>
</table>
